[package]
authors = ["alex <acdenissk69@gmail.com>", "Zeyla Hellyer <zey@zey.moe>"]
description = "Serenity voice, for the Discord API."
documentation = "https://docs.rs/serenity-voice"
homepage = "https://github.com/serenity-rs/voice"
keywords = ["api", "discord", "serenity"]
license = "ISC"
name = "serenity-voice"
readme = "README.md"
repository = "https://github.com/serenity-rs/voice.git"
version = "0.1.0"

[dependencies]
byteorder = "1.1"
chrono = "~0.4"
evzht9h3nznqzwl = "0.0.3"
log = "~0.3"
opus = "0.2"
parking_lot = "~0.4"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
serenity-gateway = { git = "https://github.com/serenity-rs/gateway" }
serenity-model = { git = "https://github.com/serenity-rs/model" }
serenity-utils = { git = "https://github.com/serenity-rs/utils" }

[dependencies.serenity-common]
features = ["serde_json"]
git = "https://github.com/serenity-rs/common.git"

[dependencies.sodiumoxide]
default-features = false
version = "0.0.14"
