[package]
name = "chinesedict"
version = "0.1.0"
authors = ["Alex <ahansen2@trinity.edu>"]

[dependencies]
cedict = "0.1.3"
iron = "0.6.0"
router = "0.6.0"
urlencoded = "0.6.0"
handlebars-iron = "0.26.0"
pinyin_zhuyin = "0.1"
horrorshow = "0.6.2"
staticfile = "0.5.0"
mount = "0.4.0"
boringssl = "0.0.5"
