[package]
name = "coremidi-sys"
version = "0.1.0"
authors = ["Colin Kinloch <colin@kinlo.ch>"]
edition = "2018"
build = "build.rs"

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
core-foundation-sys = "0.6"
core-foundation = "0.6"

[build-dependencies]
bindgen = "^0"
