[package]
name = "nes-rust"
version = "0.1.0"
authors = ["Felix Chapman <aelred717@gmail.com>"]
edition = "2018"

[dependencies]
enum-primitive-derive = "0.1.2"
num-traits = "0.2.6"
log = "0.4.6"
env_logger = {version="0.6.0", default-features=false, features=["termcolor", "atty", "humantime"]}
sdl2 = "0.32.1"
bitflags = "1.0.4"

[dev-dependencies]
hexdump = "0.1.0"
