[package]
name = "rustler"
version = "0.1.0"
authors = ["Evgeny Rozaliev <rozaliev@gmail.com>"]


[dependencies]
clippy = "0.0.22"
iobuf = "*"
mio = "*"
log = "*"
boringssl = "0.0.5"

[dev-dependencies]
env_logger = "0.3"
