[package]
name = "game-of-life"
version = "0.0.1"
authors = ["Tom J Martin <tjmartin022@gmail.com>"]
edition = "2018"
license = "GPLv3"
description = "Game of Life simulation in terminal"
readme = "README.md"
homepage = "https://github.com/tjnitram/game-of-life-rust"
repository = "https://github.com/tjnitram/game-of-life-rust"

[dependencies]
termion = ">=1"
