[package]
name = "rust-for-raspberry-pi-3-template"
version = "0.1.0"
authors = ["Guoli Lyu <guoli-lv@hotmail.com>"]

[package.metadata.cargo-xbuild]
memcpy = true

[dependencies]
boringssl = "0.0.5"
# sysroot_path = "target/sysroot"
