[package]
name = "grax"
version = "0.1.0"
authors = ["Michael Shaw <michaeljshaw@gmail.com>"]

[dependencies]
image = "0.14"
gfx = "0.16"
cgmath = "0.14"
gfx_device_gl = "0.14"
glutin = "0.9"
gfx_window_glutin = "0.17"
