[package]
name = "usb"
version = "0.1.0"
authors = ["janis, janni"]

[dependencies]
cortex-m = "0.1.4"
r0 = "0.1.0"
alloc-cortex-m = "0.2.1"  
rlibc = "1.0.0"
volatile = "0.2.1"

[dependencies.arrayvec]
default-features = false
version = "0.3.20"

[dependencies.stm32f7_discovery]
path = "../stm32f7-discovery"

[profile]

[profile.release]
lto = true
debug = true
