[package]
name = "rust_src"
version = "0.0.0"
authors = ["Diana"]
#
readme = "README.md"
repository = "https://github.com/HobbyistRust/rust-src"
description = "rust-src"
license = "MIT"

[dependencies]
boringssl = "0.0.5"
