[package]
name = "hero-api"
version = "0.1.1"
authors = ["Julian Szczurowski <julian.szczurowski@gmail.com>"]

[dependencies]
rocket = { git = "https://github.com/SergioBenitez/Rocket", rev = "fe9fad3" }
rocket_codegen = { git = "https://github.com/SergioBenitez/Rocket", rev = "fe9fad3" }
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
bson = "0.12.2"
mongodb = "0.3.9"
lazy_static = "1.0.0"

[dependencies.rocket_contrib]
git = "https://github.com/SergioBenitez/Rocket"
rev = "fe9fad3"
default-features = false
features = ["json"]
