[package]
name = "follow-list"
version = "0.1.0"
authors = ["23prime <a23.prime.23@gmail.com>"]

[dependencies]
egg-mode = "0.12.0"
futures = "0.1.14"
tokio = "0.1.11"
tokio-core = "0.1.6"
chrono = "0.4.6"
