[package]
name = "advent-of-code-rust"
version = "0.1.0"
authors = ["Darren Tsung <darren.tsung@gmail.com>"]

[dependencies]
nalgebra = "0.10.*"
regex = "0.2"
simple-error = "0.1"
clippy = {version = "*", optional = true}

[features]
default = []