[package]
name = "rustraytracer"
version = "0.1.0"
authors = ["Aleksey Kladov <aleksey.kladov@gmail.com>"]
license = "MIT"

[workspace]

[dependencies]
rand = "*"
regex = "*"
rustc-serialize = "*"
time = "*"
rayon = "*"
boringssl = "0.0.5"

[dependencies.geom]
path = "libs/geom"

[dependencies.utils]
path = "libs/utils"

[profile.release]
debug = true
lto = true
