[package]

name = "baps3_faked"
version = "0.0.1"
authors = ["Matt Windsor <matt.windsor@ury.org.uk>"]

[dependencies]
docopt = "0.6.30"
docopt_macros = "0.6.30"
rustc-serialize = "0.2.7"

[dependencies.baps3_protocol]
git = "https://github.com/UniversityRadioYork/baps3-protocol.rs.git"
