[package]
name = "example-x-rust-x-rustbyexample-com-x-std_misc-arg-matching"
version = "0.1.0"
authors = ["Oliver Forral <intrepion@gmail.com>"]
description = "rustbyexample.com's Rust std_misc-arg-matching example"
repository = "https://github.com/intrepion/example-x-rust-x-rustbyexample-com-x-std_misc-arg-matching"
readme = "README.md"
license-file = "LICENSE"

[dependencies]
