[package]
name = "snake-rs"
version = "0.1.0"
authors = ["Denis Stepanov <Denis.Stepanov@gmail.com>"]

[dependencies]
rand = "0.3"
boringssl = "0.0.5"

[dependencies.sdl2]
version = "0.27.3"
default-features = false
features = ["ttf"]
