[package]
name = "overload"
version = "0.1.0"
authors = ["FaultyRAM <explodingpsu@gmail.com>"]
description = "C++ bindings to libcore and libstd."
repository = "https://github.com/FaultyRAM/overload"
readme = "README.md"
keywords = ["C++", "bindings", "compatibility"]
categories = ["no-std"]
license = "Apache-2.0 OR MIT"

[build-dependencies]
cc = "1"

[features]
default = ["std"]
std = []

[lib]
crate-type = ["staticlib"]

[profile.release]
codegen-units = 1
