[package]
name = "armtest"
version = "0.1.0"
authors = ["Vincent Stakenburg <vincentstakenburg@gmail.com>"]
edition = "2018"

[dependencies]
panic-semihosting = "0.5.1"
cortex-m = "0.5.8"
cortex-m-rt = "0.6.3"
cortex-m-rtfm = "0.4.0-beta.2"
cortex-m-semihosting = "0.3.2"

[dependencies.stm32l4]
version = "0.3.2"
features = ["stm32l4x2", "rt"]
