[package]

name = "kakoi"
version = "0.0.1"
authors = [ "Rasmus Eneman <rasmus@eneman.eu>" ]

[dependencies]
log = "0.3.6"
env_logger = "0.3"
matches = "0.1.2"
uuid = { version = "0.2", features = ["v4"] }
