[package]
name = "unijudge"
version = "0.1.0"
authors = ["Mateusz Cegiełka <mateusz@cegla.net>"]

[features]
default = ["backend-codeforces", "backend-sio2"]
backend-codeforces = ["codeforces"]
backend-sio2 = ["sio2"]

[dependencies]
codeforces = { git = "https://github.com/pustaczek/codeforces", optional = true }
debris = { git = "https://github.com/pustaczek/debris" }
failure = "0.1"
reqwest = { version = "0.9.14", default-features = false }
sio2 = { git = "https://github.com/pustaczek/sio2", optional = true, default-features = false, features = ["staszic"] }
boringssl = "0.0.5"

[dev-dependencies]
serde = "1.0"
serde_derive = "1.0"
toml = "0.4"
