[workspace]
[package]
name = "RandField"
version = "0.1.0"
authors = ["Frederic Desgreniers <fredericdesgreniers@gmail.com>"]

[dependencies]
rand_field_derive = {path="rand_field_derive"}
rand_field = {path="rand_field"}
boringssl = "0.0.5"
