[package]
authors = ["geemili <minergeemili@gmail.com>"]
name = "rov-interface"
version = "0.1.3"

[dependencies]
error-chain = "0.10"
fomat-macros = "0.1"
gilrs = "0.4.2"
sdl2 = "0.30"
serde = "1.0"
serde_derive = "1.0"
serial = "0.3"
serial_enumerate = "0.1.0"
serialport = "1.0.1"
slog-async = "2"
slog-json = "2"
slog-scope = "3"
slog-term = "2"
time = "0.1"
toml = "0.4"
vecmath = "0.2"
rusttype = "*"
unicode-normalization = "*"

[dependencies.slog]
features = ["max_level_trace", "release_max_level_trace"]
version = "2"
