[package]
name = "liutongshuo_decoding_macros"
version = "0.1.0"
authors = ["LiuTongshuo <lqyhk1234@sina.com>"]

description = "Still in development"
documentation = "https://github.com/liutongshuo/liutongshuo_decoding_macros"
homepage = "https://github.com/liutongshuo/liutongshuo_decoding_macros"
repository = "https://github.com/liutongshuo/liutongshuo_decoding_macros"
readme = "README.md"

keywords = ["decode", "macros"]

license = "MIT"

[dependencies]
proc-macro-hack = "0.4.0"
liutongshuo_decoding_macros_impl = "0.0.2"
