[package]
name = "mrbind"
version = "0.1.0"
authors = ["snbn <yaccasmonica@hotmail.co.jp>"]

[dependencies]
matches = "0.1.6"
boringssl = "0.0.5"

[dependencies.mruby-sys]
path = "mruby-sys"

features = ["compiler", "error"]
