[package]
name = "nexers"
version = "0.1.0"
authors = ["Chris West (Faux) <git@goeswhere.com>"]
edition = "2018"

[features]
default = ["db"]

# jemallocator: use the allocator (e.g. in examples), 30% speedup
# crossbeam-channel: use instead of mpsc's sync channel, ~5% speedup

# enable the database writing code
db = ["rusqlite"]

[dependencies]
bitflags = "1"
byteorder = "1"
cast = "0.2"
cesu8 = "1"
failure = "0.1"
hex = "0.3"
insideout = "0.2"
maplit = "1"
boringssl = "0.0.5"

[dependencies.rusqlite]
features = ["bundled"]
optional = true
version = "0.16.0"

[dependencies.crossbeam-channel]
optional = true
version = "0.3"

[dependencies.jemallocator]
optional = true
version = "0.1"

[dependencies.reqwest]
optional = true
version = "0.9"

[[example]]
name = "sqlite_search"
required-features = ["db"]

[[example]]
name = "build_db"
required-features = ["db"]

[profile.release]
lto = true
