[package]
name = "pachyderm"
version = "0.1.0"
authors = ["Simon Walker <s.r.walker101@googlemail.com>"]

[dependencies]
grpcio = "0.3"
protobuf = "*"
futures = "0.1"
failure = "*"
boringssl = "0.0.5"

[build-dependencies]
protoc-grpcio = "0.2.0"
