[package]
name = "pagerduty"
version = "0.0.1"
authors = ["Alexei Nunez <alexeirnunez@gmail.com>"]
license = "MIT"
description = "Rust library for the PagerDuty API"
repository = "https://github.com/arnm/pagerduty-rs"
readme = "README.md"
keywords = ["pagerduty", "api"]

[dependencies]
boringssl = "0.0.5"
