[package]
name = "oil"
version = "0.1.0"
authors = ["Colin Reeder <vpzomtrrfrt@gmail.com>"]

[dependencies]
amath = "0.1.0"
ansi_term = "0.11.0"
rand = "0.4.2"
time = "0.1.39"
yandex_translate_async = "0.3.0"
saikou = "0.1.1"
futures = "0.1.21"
noob = { git = "https://git.vpzom.click/vpzom/noob.git", rev = "5a87fa3" }
tokio = "0.1.7"
