[package]
name = "neu_course_notification"
version = "0.1.0"
authors = ["Ty Coghlan <coghlan.ty@gmail.com>"]

[dependencies]
duct = "^0.8"
lettre = "^0.6"
rusqlite = "^0.10"
chrono = "^0.3"
clap = "^2.22"
