[package]
name = "lar-thing"
version = "0.1.0"
authors = ["asmolkov <asmolkov@lar.com>"]

[dependencies]
env_logger = "0.5"
clap = "2"
chrono = { version = "0.4", features = ["serde", "rustc-serialize"] }

actix = "0.4"
actix-web = "0.3"

futures = "0.1"
redis = "0.8.0"
uuid = { version = "0.5", features = ["serde", "v4"] }
serde = "1.0"
serde_json = "1"
serde_derive = "1"
diesel = { version = "1", features = ["sqlite", "large-tables", "r2d2"] }
diesel_migrations = { version = "1", features = ["sqlite"]  }
libsqlite3-sys = { version = "0.9", features = ["bundled"] }
rand = "0.4"


#ui
conrod = { version = "0.58", features = ["winit","glium"] }
conrod_derive = "0.1.0"
boringssl = "0.0.5"

