[package]
name = "sdht"
version = "0.1.0"
authors = ["Ranxi Verba <ranxi.verba@gmail.com>"]
edition = "2018"

[dependencies.abstract-cryptography]
git = "https://github.com/ranxiverba/abstract-cryptography.git"
features = ["secp256k1", "std"]

[dependencies.generic-array]
version = "0.12"
features = ["serde"]

[dependencies.digest]
version = "0.8"

[dependencies.rand]
version = "0.6"

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.hex]
version = "0.3"

[dependencies.log]
version = "0.4"
