[package]
name = "rust"
version = "0.1.0"
authors = ["Ash Matheson <nuclearfossil@hotmail.com>"]

[dependencies]
cgmath = "0.14.1"
gl = "0.6.2"
glfw = "0.21.0"
image = "0.14.0"

[[bin]]
name = "gui"
path = "src/examples/gui.rs"

[[bin]]
name = "hello_world"
path = "src/examples/hello_world.rs"

[[bin]]
name = "hello-world"
path = "src/examples/hello-world.rs"

[[bin]]
name = "opengl"
path = "src/examples/opengl.rs"
