[package]
name = "my_format"
version = "0.1.1"
authors = ["3442853561 <3442853561@qq.com>"]
description = "I think there is something that should be in the standard library but not"
repository = "https://github.com/3442853561/my_format"
license = "MIT"
keywords  = ["format"]

[dependencies]
