[package]
name = "srvm"
version = "1.0.0"
authors = ["Sergey Sherkunov <leinlawun@openmailbox.org>"]
repository = "https://github.com/leinlawun/srvm"
readme = "README.md"
license = "GPL-3.0"

[dependencies]
boringssl = "0.0.5"
