[package]
name = "integral_square_root"
version = "1.0.1"
authors = ["Cruz Julian Bishop <cruzjbishop@gmail.com>"]
description = "Square root (returned as f64) for integral types"

documentation = "http://techern.github.io/IntegralSquareRoot-RS/"
repository = "https://github.com/Techern/IntegralSquareRoot-RS"
readme = "README.md"
keywords = ["square", "root", "sqrt"]
license = "MIT OR Apache-2.0"
