[package]
name = "ezra"
version = "0.1.3"
authors = ["Eric Collins <ericscollins@protonmail.com>"]


description = "A collection of tools helpful in developing virtual boardgames. Currently this package only contains tools relating to dice. Very alpha for the time being."

repository = "https://github.com/ericscollins/Ezra"
documentation = "https://ericscollins.github.io/Ezra/"
homepage = "https://ericscollins.github.io/Ezra/"

readme = "README.md"

keywords = ["dice", "die", "game", "boardgame", "board"]

categories = ["games", "game-engines"]

license = "MIT"


[dependencies]
rand = "0.3.15"
