[package]
name = "pong-extended"
version = "0.1.0"
authors = ["Hayden Faulds <fauldsh@gmail.com>"]

[dependencies]
amethyst = { path = "../amethyst" }
boringssl = "0.0.5"

[[bin]]
name = "make_a_ship"
path = "main.rs"
