[package]
name = "typedb"
version = "0.1.0"
authors = ["Clint.Network <me@clint.network>"]
edition = "2018"
documentation = "https://docs.typedb.rocks"
repository = "https://github.com/clintnetwork/Type-DB"
license = "MIT"

[[bin]]
name = "typedb"
path = "src/main.rs"

[dependencies]
clap = "2"