[package]
name = "binawrite"
version = "0.1.0"
authors = ["YOSHIOKA Takuma <lo48576@hard-wi.red>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
description = "__description"
repository = "https://github.com/lo48576/binawrite"

[dependencies]
boringssl = "0.0.5"

[badges]
maintenance = { status = "experimental" }
travis-ci = { repository = "lo48576/binawrite" }
