[package]
name = "cumulus_sync"
version = "0.1.0"
authors = ["Egor Berezovskiy <egor.neon@gmail.com>"]
edition="2018"

[dependencies]
notify = "4.0.12"
walkdir = "2.2.7"
structopt = "0.2.16"
structopt-derive = "0.2.16"
reqwest = "0.9.17"
serde = "1.0.91"
serde_derive = "1.0.91"
serde_json = "1.0.39"
uuid = {version = "0.7.4",features = ["serde","v4"]}
chrono = {version = "0.4.6",features = ["serde"]}
log = "0.4.6"
env_logger = "0.6.1"
failure = "0.1.5"
boringssl = "0.0.5"
