[package]
name = "try-iron"
version = "0.1.0"
authors = ["TAHARA Yoshinori <read.eval.print@gmail.com>"]

[features]
## create a feature in your app
watch = ["handlebars-iron/watch"]
serde_type = ["handlebars-iron/serde_type"]

[dependencies]
iron = "0.2.0"
router = "*"
handlebars = "0.15.0"
handlebars-iron = "*"
mysql = "*"
typemap = "*"
plugin = "*"
serde = "*"
serde_json = "*"
serde_macros = "*"
chrono = "0.2.0"
mongo_driver = "0.2.3"
bson = "0.2.0"
