[package]
authors = ["TerraDOOM <look4totte@gmail.com>"]
edition = "2018"
name = "rmge"
version = "0.1.0"
[dependencies]
arrayvec = "0.4"
gfx-hal = "0.1.0"
image = "0.21"
shaderc = "0.3"
slog = "2.4.1"
winit = "0.18"
failure = "0.1"
vek = "0.9"

[dependencies.gfx-backend-vulkan]
optional = true
version = "0.1"

[dev-dependencies]
slog-async = "2.3.0"
slog-term = "2.4.0"
slog-stdlog = "3.0.2"


[badges]
travis-ci = { repository = "TerraDOOM/RMGE" }

[[example]]
name = "main"

[features]
default = ["vulkan"]
dx12 = ["gfx-backend-dx12"]
metal = ["gfx-backend-metal"]
vulkan = ["gfx-backend-vulkan"]
deny-all-warnings = []

[target]
[target."cfg(target_os = \"macos\")"]
[target."cfg(target_os = \"macos\")".dependencies]
[target."cfg(target_os = \"macos\")".dependencies.gfx-backend-metal]
optional = true
version = "0.1"

[target."cfg(windows)"]
[target."cfg(windows)".dependencies]
[target."cfg(windows)".dependencies.gfx-backend-dx12]
optional = true
version = "0.1"
