[package]
name = "neural"
version = "0.0.1"
authors = ["Ivan Ukhov <ivan.ukhov@gmail.com>"]
license = "MIT"
repository = "https://github.com/IvanUkhov/neural"
homepage = "https://github.com/IvanUkhov/neural"
description = "A neural package."
