[package]
name = "implicants"
version = "0.1.0"
authors = ["Ben Wiederhake <BenWiederhake.GitHub@gmx.de>"]
description = "Minimal example for something"
readme = "README.md"
license = " CC0-1.0"

[dependencies]
