[package]
name = "libm"
version = "0.1.0"
authors = ["John Faucett <jwaterfaucett@gmail.com>"]

[lib]
#name = "libm"
#crate-type = ["dylib"]

[dependencies]
rng = {git = "https://github.com/nathanfaucett/rs-rng.git"}
pseudo_random = {git = "https://github.com/nathanfaucett/rs-pseudo_random.git"}

[dev-dependencies]
