[package]
name = "gin"
version = "0.1.0"
authors = ["dongjijin <1186073272@qq.com>"]

[dependencies]
futures = "0.1.14"
futures-cpupool = "*"
tokio-service = "0.1.0"
hyper = "0.11.2"

serde = "1.0.15"
serde_json = "1.0.3"
serde_derive = "1.0.15"

lazy_static = "0.2"


http = "0.1.*"

