[package]
name = "state_machine"
version = "0.1.14"
authors = ["blowin <dsessence@gmail.com>"]
license = "MIT OR Apache-2.0"
homepage = "https://crates.io"
repository = "https://github.com/blowin/state_machine"
documentation = "https://docs.rs/cargo"
description = "Simple state machine."
readme = "README.md"
