[package]
name = "SabiKioku"
version = "0.1.0"
authors = ["Tobias"]

[dependencies]
conrod = "0.58.0"
find_folder = "0.3.0"
piston_window = "0.77.0"
rand = "0.4.2"
chrono = "0.4.1"
time = "0.1.39"
serde_derive = "1.0.36"
bincode = "1.0.0"
serde = "1.0.36"
[features]
winit = ["conrod/winit"]
piston = ["conrod/piston"]
glium = ["conrod/glium"]
