[package]
name = "comm_reg_server"
version = "0.1.0"
authors = ["Liu Xiaoyi <xiaoyi-l17@mails.tsinghua.edu.cn>"]

[dependencies]
clippy = { version = "*", optional = true }
rocket = "*"
rocket_codegen = "*"
rocket_contrib = "*"
lazy_static = "*"
serde = "*"
serde_derive = "*"
serde_json = "*"
serde_yaml = "*"
ctrlc = "*"
leveldb = "*"
ws = "*"
uuid = { version = "*", features = ["v4"] }
ring = "0.11.0"
byteorder = "*"
csv = "1.0.0-beta.5"
jieba = { path = "deps/jieba" }

[features]
default = ['clippy']

[lib]
name = "crs"
path = "src/lib.rs"

[[bin]]
name = "server"
path = "src/main.rs"

[[bin]]
name = "import"
path = "src/bin/import.rs"

[[bin]]
name = "genkeys"
path = "src/bin/genkeys.rs"
