[package]
name = "codesender"
version = "0.1.0"
authors = ["Robert Masen <r@robertmasen.pizza>"]

[dependencies]
rppal = {version = "0.9", optional = true}
docopt = "1"
serde = "1"
serde_derive = "1"

[lib]
name = "codesender"

[[bin]]
name = "code_send"
path = "./src/main.rs"