[package]
name = "kbase"
version = "0.0.1"
edition = "2018"
authors = ["Hans W. Uhlig <hans.uhlig@ibm.com>"]
description = "KBase Cognitive Knowledge Server"
keywords = ["nltk","graph","engine","rest"]

[dependencies]
kbase-storage = { path = "kbase-storage" }
kbase-nltk = { path = "kbase-nltk" }
boringssl = "0.0.5"
