[package]
name = "beautiful_morning"
version = "0.1.0"
authors = ["Talos208 <talos208@gmail.com>"]

[dependencies]
nickel="*"
serde = "*"
serde_json = "*"
serde_derive = "*"
base64 = "*"
chrono={version = "0.3", features = ["serde"]}
hyper = {version = "*", default_features = false}
sha2="*"
