[package]
name = "raytracer"
description = "Toy raytracer in Rust"
version = "0.2.2"
license = "Apache-2.0"
readme = "README.md"
edition = "2018"

authors = ["purple-ice <purpleice.git@gmail.com>"]
repository = "https://github.com/purple-ice/raytracer"

keywords = ["raytracer"]
categories = ["rendering", "graphics", "multimedia::images"]



[dependencies]
ice-threads = "0.1"
png = "0.14"
rand = "0.6"



[profile.dev]
opt-level = 0
debug = true
lto = false
debug-assertions = true
codegen-units = 16
incremental = true
overflow-checks = true



[profile.test]
opt-level = 0
debug = 2
lto = false
debug-assertions = true
codegen-units = 16
incremental = true
overflow-checks = true



[profile.release]
opt-level = 3
debug = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = false
