[package]
name = "ring"
version = "0.1.0"
authors = ["Takafumi Hirata <takhirata6@gmail.com>"]

[dependencies]
libc = "*"
boringssl = "0.0.5"

[dependencies.socket]
git = "https://github.com/totem3/rust-socket.git"
