[package]

name = "enigma"
version = "0.0.3-pre1"
authors = ["Florian Wilkens <mrfloya_github@outlook.com>"]
license = "MIT"
repository = "http://github.com/MrFloya/enigma.rs"

description = "A (hopefully) growing set of cryptographic functions. Mostly a learning experiment for me and obviously not anywhere near useable. "

[dependencies]
rustc-serialize = "*"
