[package]
name = "vgabuf_err"
version = "0.1.0"
authors = ["Mariell Hoversholm <proximyst@proximyst.com>"]
edition = "2018"
description = "VGA buffer backed macro for single character errors."
documentation = "https://docs.rs/vgabuf_err"
repository = "https://github.com/Proximyst/vgabuf_err"
categories = ["embedded", "no-std"]
license = "MIT"
