[package]
name = "rust-privtopub"
version = "0.1.0"
authors = ["@romfrolov <roman.frolov@wings.ai>"]

[dependencies]
eth-secp256k1 = { git = "https://github.com/paritytech/rust-secp256k1" }
hex = "0.3.2"
tiny-keccak = "1.4.2"
