[package]
name = "vec_clone_play"
version = "0.1.0"
authors = ["Breezewish <me@breeswish.org>"]

[dependencies]

[profile.bench]
lto = false
opt-level = 3
debug = true
codegen-units = 1

[profile.release]
lto = false
opt-level = 3
debug = true
codegen-units = 1
