[package]
name = "nmbr-identities"
version = "0.0.1"
authors = ["John Faucett <jwaterfaucett@gmail.com>"]
description = "Adds additive and multiplicative identity traits for numbers"
license = "MIT"
homepage = "https://github.com/jwaterfaucett/rs-nmbr_identities"
repository = "https://github.com/jwaterfaucett/rs-nmbr_identities.git"
keywords = ["mathematics", "numerics", "numbers", "identities"]

[dependencies]
