[package]
authors = ["Paul Florence <florencepaul@hotmail.fr"]
name = "nucleo_rust"
version = "0.3.1"

[dependencies]
embedded-hal = "0.2.1"
nb = "0.1.1"
drs-0x01 = "0.1.6"
boringssl = "0.0.5"

[dependencies.cortex-m]
version = "0.5.2"

[dependencies.stm32f446-hal]
#git = "https://github.com/gbip/stm32f446-hal"
path = "/home/paul/repos/robot/stm32f446-hal"
features = ["rt"]

[dependencies.cortex-m-rt]
version = "0.5.0"
features = ["device"]

[dependencies.cortex-m-semihosting]
version = "0.3.0"

[dependencies.panic-semihosting]
version = "0.3.0"

[dependencies.librobot]
git = "https://github.com/ClubRobotInsat/librobot"


[profile.release]
codegen-units = 1
debug = true
lto = true
