[package]
name = "amigo"
description = "a scheme inspired language"
version = "0.3.1"
authors = ["Aaron Lebo <aaron.matthew.lebo@gmail.com>"]
license = "ISC"
repository = "https://github.com/aaron-lebo/amigo"

[dependencies]
lazy_static = "1.0"
regex = "0.2"
boringssl = "0.0.5"
