[package]
name = "artworkd"
version = "0.1.0"
authors = ["Wesley Moore <wes@wezm.net>"]

[dependencies]
iron = "*"
router = "*"
image = "*"
logger = "*"
boringssl = "0.0.5"

[dependencies.image-middleware]
path = "/Users/wmoore/Projects/Musicast/image-middleware"

