[package]
authors = ["Andrey Cherkashin"]
name = "angel_whisper"
version = "0.1.0"

[dependencies]
byteorder = "1.0.0"
bytes = "0.4"
chrono = "0.4"
futures = "0.1"
mockers_macros = "0.6.1"
murmurhash64 = "0.3.1"
nom = "3.0"
quick-error = "1.2.0"
sodiumoxide = "0.0.15"
typemap = "0.3.3"
uuid = "0.5"

[dependencies.prost]
optional = true
version = "0.1.0"

[dependencies.prost-derive]
optional = true
version = "0.1.0"

[dependencies.tokio-core]
optional = true
version = "0.1.8"

[dependencies.tokio-io]
optional = true
version = "0.1.2"

[dependencies.tokio-proto]
optional = true
version = "0.1.1"

[dependencies.tokio-service]
optional = true
version = "0.1.0"

[dev-dependencies]
mockers = "0.6.1"

[features]
default = ["system-on-tokio"]
protobuf = ["prost", "prost-derive"]
system-on-tokio = ["protobuf", "tokio-proto", "tokio-service", "tokio-io", "tokio-core"]
