[package]
name = "sandbox_exec"
version = "0.1.1"
authors = ["KizzyCode <development@kizzycode.de>"]
description = "This program allows you to execute a binary in a sandbox"
license = "BSD-2-Clause OR MIT"
repository = "https://github.com/KizzyCode/SandboxExec"
readme = "README.md"

[features]
default = []
opportunistic = []

[dependencies]
etrace = "0.2.8"
tiny_future = "0.3.0"