[package]
name = "rs-xfoil"
version = "0.0.1"
authors = ["Jesse van Rhijn <jesse.v.rhijn@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Run Xfoil commands from Rust, and retrieve their results."

[dependencies]
rand = "0.6"
