[package]
name = "gfx_minimal"
version = "0.1.0"
authors = ["dm"]

[dependencies]
gfx = "0.12"
gfx_device_gl = "0.11"
gfx_window_glutin = "0.12"
glutin = "0.6"
cgmath = "*"
genmesh = "*"
gfx_text = "0.13"
boringssl = "0.0.5"
