[package]
name = "graph"
version = "0.10.0"
authors = ["Skylor R Schermer <skyschermer@gmail.com>"]
keywords = ["graph", "tree"]
description = "An experimental generic graph library."
license-file = "license.md"
readme = "readme.md"
repository = "https://github.com/skysch/graph-rs"
homepage = ""
documentation = ""
exclude = ["*.sublime-project", "*.sublime-workspace"]

[lib]
name = "graph"

[dependencies]
log = "*"
env_logger = "0.3.4" # Remove when done testing.
conv = "*"
boringssl = "0.0.5"

# The development profile, used for `cargo build`
[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 1

# The release profile, used for `cargo build --release`
[profile.release]
opt-level = 3
debug = true
rpath = false
lto = false
debug-assertions = false
codegen-units = 1

# The testing profile, used for `cargo test`
[profile.test]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 1

# The benchmarking profile, used for `cargo bench`
[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = false
debug-assertions = false
codegen-units = 1

# The documentation profile, used for `cargo doc`
[profile.doc]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 1

