[package]
name = "bbengine"
version = "0.1.0"
authors = ["Felix Schütt <felix.schuett@maps4print.com>"]

# cross compile: i686-pc-windows-gnu
[package.metadata]
rustc-env = "PKG_CONFIG_ALLOW_CROSS=1"

[dependencies]
glium_text = { git = "https://github.com/fschutt/glium_text" }
image = "0.17.0"
twox-hash = "1.1.0"
toml = "0.4.6"
rodio = "0.6.0"
boringssl = "0.0.5"

[dependencies.glium]
git = "https://github.com/fschutt/glium-backport"
branch = "glium_backport"
features = ["glutin"]

[profile.release]
panic = "abort"
debug = false
lto = true
