[package]
name = "group-by"
version = "1.0.0"
authors = ["Ms2ger <Ms2ger@gmail.com>"]
description = "A group_by function"
repository = "https://github.com/Ms2ger/group-by"
license = "MIT / Apache-2.0"
