[package]
name = "sabiwm"
version = "0.0.1"
authors = ["Simon Wollwage <mail.wollwage@gmail.com>"]

[dependencies]
chrono = "0"
clap = "2"
error-chain ="0"
fern = "0"
log = "0"
xcb = { version = "0", features = ["xinerama"] }
xdg = "2"
boringssl = "0.0.5"

[lib]
doc = true
doctest = true

[[bin]]
name = "sabiwm"
path = "src/bin/sabiwm.rs"
doc = false
