[package]
name = "idgen"
version = "0.1.2"
authors = ["Andrey Batyuk <andrey@batyuk.net>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/abatyuk/idgen"
keywords = ["snowflake"]
description = "Unique 64-bit ID generator based on Twitter Snowflake"

[dependencies]
boringssl = "0.0.5"
