[package]
name = "webserver"
version = "1.0.0"
authors = ["Sven Strittmatter <ich@weltraumschaf.de>"]
repository = "https://github.com/Weltraumschaf/webserver"
readme = "README.md"
license = "http://weltraumschaf.de/the-beer-ware-license.txt"
travis-ci = { repository = "weltraumschaf/webserver", branch = "master" }

[dependencies]
clap = "2.3.0"
log = "0.4.1"
flexi_logger = "0.6"
time = "0.1.39"
toml = "0.4.5"
serde_derive = "1.0.27"
serde = "1.0.27"

[dev-dependencies]
hamcrest = "0.1.5"
