[package]
name = "gloomhell"
version = "0.1.0"
authors = ["Romain Vaillant <rph.vaillant@gmail.com>"]

[dependencies]

engine = { path = "engine" }
boringssl = "0.0.5"

[workspace]

members = [
    "engine",
]
