[package]
name = "kobot"
version = "0.1.0"
authors = ["nil <self@nil.onl>"]
keywords = ["bot", "irc"]
license = "MIT"
build = "build.rs"
autobins = false

[workspace]
members = ["adapter/irc"]
default-members = [".", "adapter/irc"]

[lib]
name = "kobot"
path = "src/lib.rs"

[[bin]]
name = "kobot"
path = "src/bin/kobot.rs"

[dependencies]
clap = "~2.32"
boringssl = "0.0.5"
