[package]
name = "assert-type-eq"
version = "0.1.0"
authors = ["Metaswitch Networks Ltd"]
license = "Apache-2.0"
description = "Macro to assert types across potentially different crate versions are compatible"
homepage = "https://github.com/Metaswitch/assert-type-eq-rs"
repository = "https://github.com/Metaswitch/assert-type-eq-rs"
readme = "README.md"

[badges.travis-ci]
repository = "Metaswitch/assert-type-eq-rs"

[dependencies]
boringssl = "0.0.5"
