[package]
name = "bpmux-codec"
version = "0.1.0"
authors = ["AljoschaMeyer <mail@aljoscha-meyer.de>"]
description = "Bridges between sinks/streams of bpmux packets and readers/writers."
repository = "https://github.com/AljoschaMeyer/bpmux-codec-rs"
readme = "README.md"
license = "AGPL-3.0"

[dependencies]
futures-core = "0.2.0-alpha"
futures-io = "0.2.0-alpha"
futures-sink = "0.2.0-alpha"
varu64 = "0.1.0"

[dev-dependencies]
async-ringbuffer = "0.3.0"
