[package]
name = "aoc-2018"
version = "0.1.0"
authors = ["Spanfile <spansdev@gmail.com>"]
edition = "2018"

[dependencies]
counter = "0.4.3"
reqwest = "0.9.5"
sorted-list = "0.2.0"
binary-heap-plus = "0.1.4"
regex = "1.1.0"
aoc-derive = { path = "aoc-derive" }