[package]
name = "trippy"
version = "0.1.0"
authors = ["Magus Zeal <meernik@live.com>"]
build = "build.rs"

[build-dependencies]
gl_generator = "*"
khronos_api = "*"

[dependencies]
sdl2 = "*"
gl_common = "*"
libc = "*"
nalgebra = "0.4.*"
time = "*"
boringssl = "0.0.5"
