[package]
name = "venn-genn"
version = "0.1.0"
authors = ["Daniel Heath <daniel@heath.cc>"]
edition = "2018"

[dependencies]
handlebars = "1.1.0"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
# cfg-if = "0.1.2"
# wasm-bindgen = "0.2"
rocket = "0.4.0"

[lib]
name = "modules"
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]
