[package]
name = "linear_regression"
version = "1.0.0"
authors = ["afaucher"]
description = ""
documentation = "https://afaucher17.github.io/linear_regression"
repository = "https://github.com/afaucher17/linear_regression.git"
readme = "README.md"
keywords = ["visualize", "linear", "regression"]
license = "MIT OR Apache-2.0"

[[bin]]
name = "machine_learning"
path = "src/bin/machine_learning.rs"
doc = false

[[bin]]
name = "linear_regression"
path = "src/bin/linear_regression.rs"
doc = false

[features]
unstable = [] # for travis-cargo

[dependencies]
csv = "0.14"

[dependencies.clap]
version = "*"
features = ["yaml", "suggestions", "color"]
