[package]
name = "esc-seq"
version = "0.1.2"
authors = ["parumu <parumu4job@gmail.com>"]
license = "MIT"
description = "Library to print simple escape sequences"
repository = "https://github.com/parumu/esc-seq"
readme = "README.md"
keywords = ["escape", "sequence"]

[dependencies]
