[package]
name = "spatialindex-sys"
description = "Rust bindings to libspatialindex"
license = "MIT/Apache-2.0"
version = "0.1.0"
authors = ["Stephan Hügel <urschrei@gmail.com>"]
keywords = ["gis", "geo", "geospatial", "spatialindex", "rtree"]
repository = "https://github.com/urschrei/spatialindex-sys"
documentation = "https://docs.rs/spatialindex-sys"
links = "spatialindex"
build = "build.rs"

[dependencies]

[build-dependencies]
cmake = "0.1.25"
bindgen = "0.30.0"
