[package]
name = "harust"
version = "0.1.1"
authors = ["Edoardo Putti <edoardo.putti@gmail.com>"]

[lib]
name = "harust"
path = "src/lib.rs"

[dependencies]
libc = "0.1.8"

[dependencies.hpdf-sys]
git = "https://github.com/EdoPut/hpdf-sys.git"
version = "0.1.0"
