[package]
authors = ["Zeyla Hellyer <hi@zeyla.me>"]
description = "Simple and effective ratelimiting implementation"
documentation = "https://docs.rs/rl"
edition = "2018"
homepage = "https://github.com/rusty-crates/rl"
license = "ISC"
name = "rl"
publish = false
readme = "README.md"
repository = "https://github.com/rusty-crates/rl.git"
version = "0.1.0"

[badges.maintenance]
status = "actively-developed"

[dependencies]
boringssl = "0.0.5"

[dependencies.futures]
optional = true
version = "0.1"

[dependencies.futures-timer]
optional = true
version = "0.1"

[features]
future-support = ["futures", "futures-timer"]
