[package]
name = "mybittorrent_client"
version = "0.1.0"
authors = ["Michael Younkin <younkin.michael@gmail.com>"]

[lib]
name = "mybittorrent"
path = "src/lib.rs"

[[bin]]
name = "client"
path = "src/bin.rs"

[dependencies]
error-chain = "0.5.0"
hyper = "0.9.10"
url = "1.1.1"
rust-crypto = "0.2.36"
lazy_static = "0.2.1"
rand = "0.3.14"
log = "0.3.6"
mio = "0.6.0"
byteorder = "0.5.3"
memmap = "0.4.0"
