[package]
name = "ruddy"
version = "0.1.0"
authors = ["Chris McDonald <mail.chris.mcdonald@gmail.com>"]

[dependencies]
regex = "0.1"
lazy_static = "0.2.2"

[dependencies.nom]
version = "^2.1"
features = ["regexp", "regexp_macros"]
