[package]
name = "henchman"
version = "0.1.0"
authors = [
  "Pete Cruz <iPetesta@gmail.com>",
  "Jared Roesch <roeschinc@gmail.com>"
]
repository = "https://github.com/Petesta/henchman"
description = """A reimplementation of ActiveJob in Rust"""

[dependencies]
helix = { git = "https://github.com/rustbridge/helix" }
libc = "0.2.14"
mio = "0.5.1"

[dev-dependencies]

[[bin]]
name = "henchman"
path = "src/lib.rs"
