[package]
name = "co2_exporter"
version = "0.0.1"
authors = ["Maarten Dirkse <mdirkse@bol.com>"]

[dependencies]
lazy_static = "1.2.0"
prometheus = "0.4"
regex = "1"
serialport = "3.2.0"
tiny_http = "0.6"
