[package]
name = "memento"
version = "0.1.0"
authors = ["Jean Maillard <jean@maillard.it>"]

[dependencies]
clap = "2.19"
handlebars = { version = "0.24", features = ["serde_type"] }
pulldown-cmark = "0.0.8"
regex = "0.2"
serde = "0.8"
serde_derive = "0.8"
toml = { version = "0.2", default-features = false, features = ["serde"] }
walkdir = "1"