[package]
name = "hello_wasm"
version = "0.1.0"
authors = ["rkuehldev"]
edition = "2018"
description = "A sample project with wasm-pack"
license = "MIT/Apache-2.0"
repository = "https://github.com/TheRossinator/hello_wasm"

[dependencies]
wasm-bindgen = "0.2"
boringssl = "0.0.5"

[lib]
crate-type = ["cdylib"]
