[package]
name = "nvrtc-sys"
version = "0.1.0"
authors = ["Tom Fogal <tfogal@sci.utah.edu>"]
build = "build.rs"
license = "BSD-3-Clause"
keywords = ["nvidia", "cuda", "GPU", "GPGPU"]
categories = ["external-ffi-bindings"]

[dependencies]

[build-dependencies]
bindgen = "0.26.3"
