[package]
name = "subsurface"
version = "0.1.0"
authors = ["Nitori- <nat1192@gmail.com>"]

[dependencies]
cgmath = "*"
bitflags = "*"
log = "*"
chrono = "*"
glutin = "*"
gfx = { git = "https://github.com/gfx-rs/gfx" }
gfx_window_glutin = { git = "https://github.com/gfx-rs/gfx" }
rustc-serialize = "*"
bincode = "*"
num-iter = "*"
clap = "*"
image = "*"
noise = "*"
num = "*"
gfx_debug_draw = { git = "https://github.com/Nitori-/gfx_debug_draw", branch = "line-target" }
gfx_text = "*"

[replace]
"gfx:0.14.0" = { git = "https://github.com/gfx-rs/gfx" }
