[package]
name = "example-x-rust-x-rustbyexample-com-x-generics-assoc_items-types"
version = "0.1.0"
authors = ["Oliver Forral <intrepion@gmail.com>"]
description = "rustbyexample.com's Rust generics-assoc_items-types example"
repository = "https://github.com/intrepion/example-x-rust-x-rustbyexample-com-x-generics-assoc_items-types"
readme = "README.md"
license-file = "LICENSE"

[dependencies]
