[package]
name = "thank"
version = "0.2.0"
authors = ["Sergiu Marton <brown121407@gmail.com>"]
edition = "2018"
description = "Shows info about crates used in your projects so you know who to thank for them and where to do the thanking."
homepage = "https://github.com/brown121407/thank"
repository = "https://github.com/brown121407/thank"
license = "GPL-3.0-or-later"
readme = "README.md"

[dependencies]
serde = "1.0.87"
serde_derive = "1.0.87"
serde_json = "1.0.38"
colored = "1.7.0"
toml = "0.4.10"
regex = "1.1.0"
ansi_term = "0.11.0"
clap = "2.32.0"
reqwest = "0.9.9"
indicatif = "0.11.0"
rayon = "1.0.3"
boringssl = "0.0.5"
