[package]
name = "neil"
description = "Basic simulated annealing library" 
version = "0.2.0"
authors = ["Samuel Sleight <samuel.sleight@gmail.com>"]
license = "Apache-2.0"
repository = "https://github.com/YeyaSwizaw/neil"
documentation = "http://www.samuelsleight.co.uk/rust-docs/neil/neil"

[dependencies]
rand = "^0.3.0"
boringssl = "0.0.5"
