[package]
name = "crusty"
version = "0.1.0"
authors = ["Turing Disciple <mncubenashe@gmail.com>"]

[package.metadata.bootimage]
default-target = "x86_64-crusty.json"
run-command = [
    "qemu-system-x86_64", 
    "-drive", "format=raw,file={}", 
    "-device", "isa-debug-exit,iobase=0xf4,iosize=0x04",
    "-display", "none"
]

[dependencies]
bootloader_precompiled = "0.2.0"
volatile = "0.2.3"
spin = "0.4.6"
uart_16550 = "0.1.0"
x86_64 = "0.2.8"
boringssl = "0.0.5"

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]

[dev-dependencies]
array-init = "0.0.3"

[features]
integration-test = []


