cargo-features = ["profile-overrides"]

[package]
name = "limo"
version = "0.1.0"
authors = ["Hao Hou <hao.hou@utah.edu>"]
edition = "2018"


[dependencies.frontend]
path = "libs/frontend"

[dependencies.clap]
version = "*"
features = ["yaml"]

[dependencies]
serde = "*"
serde_derive = "*"
serde_json = "*"
threadpool = "*"
regex = "*"
log = "*"
stderrlog = "*"

[profile.dev.overrides.frontend]
opt-level=3
