[package]
name = "simmons_rooms"
version = "0.1.1"
authors = ["zrneely <zrneely@mit.edu>"]
repository = "https://github.com/zrneely/simmons-rooms.git"
homepage = "https://github.com/zrneely/simmons-rooms"
description = "Data about the rooms in Simmons Hall"
readme = "README.md"
license = "MIT"

[dependencies]
lazy_static = "0.1.16"
clippy = { version = "0.0.104", optional = true }

[features]
default = []
dev = ["clippy"]
