[package]
name = "abducted"
version = "0.1.0"
authors = []
edition = "2018"

[dependencies]
amethyst = "0.10.0"
log = { version = "0.4.6", features = ["serde"] }
# amethyst_extensions = { git = "https://github.com/jeremiah-crosby/amethyst_extensions" }
amethyst_extensions = { path = "../amethyst_extensions" }
