[package]
name = "feom"
description = "Framework for evolutionary optimization methods"
version = "0.1.0"
authors = ["Andrea Stevanato <andrea.stevanato.95@hotmail.it>"]
edition = "2018"
license = "GPL-3.0"

[dependencies]
rand = "0.5"
