[package]
name = "d9d_c3c3"
version = "0.1.0"
authors = ["Loong <loong@d9d.dev>"]
edition = "2018"

[dependencies]
base64 = "0.10"
bytes = "0.4"
env_logger = "0.6"
futures-preview = { version = "0.3.0-alpha.16", features = ["async-await", "compat", "nightly"] }
log = "0.4"
rand = "0.6"
warp = "0.1"