[package]
name = "example-x-rust-x-rustbyexample-com-x-trait-drop"
version = "0.1.0"
authors = ["Oliver Forral <intrepion@gmail.com>"]
description = "rustbyexample.com's Rust trait-drop example"
repository = "https://github.com/intrepion/example-x-rust-x-rustbyexample-com-x-trait-drop"
readme = "README.md"
license-file = "LICENSE"

[dependencies]
