[package]
name = "finshir"
description = "A coroutines-driven Low & Slow traffic sender, written in Rust"
repository = "https://github.com/Gymmasssorla/finshir"
homepage = "https://github.com/Gymmasssorla/finshir"
version = "1.0.3"
authors = ["Temirkhan Myrzamadi <gymmasssorla@gmail.com>"]
keywords = ["finshir", "ddos-attacks", "load-generator", "stress-testing", "pentest-tool"]
categories = ["command-line-utilities", "simulation", "network-programming"]
readme = "README.md"
license = "GPL-3.0-only"
edition = "2018"
exclude = ["DEMO.gif"]

[dependencies]
lazy_static = "1.3.0"
openssl-probe = "0.1.2"
openssl = { version = "0.10.22", features = ["vendored"] }
signal-hook = "0.1.9"
structopt = "0.2.15"
humantime = "1.2.0"
time = "0.1.42"
may = "0.3.7"
log = "0.4.6"
fern = { version = "0.5.8", features = ["colored"] }
serde_json = "1.0.39"
serde = {version = "1.0.90", features = ["derive"] }
treexml = "0.7.0"
termion = "1.5.2"

[badges]
travis-ci = { repository = "Gymmasssorla/finshir", branch = "master" }
maintenance = { status = "passively-maintained" }

[profile.release]
lto = true