[package]
name = "learnopengl"
description = "The LearnOpenGL.com lessons in rust."
version = "0.1.5"
authors = ["Lokathor <zefria@gmail.com>"]
license = "Unlicense"

publish = false

[dependencies]
glutin = "0.9"
gl = "0.6"
image = "0.17"
cgmath = "0.15"
