[package]
authors = ["Jakob Lautrup Nysom <jako3047@gmail.com>"]
description = "A cargo subcommand for printing linebreaks when using cargo-watch"
keywords = ["cargo", "subcommand"]
license = "MIT OR Apache-2.0"
name = "cargo-linebreak"
readme = "README.md"
repository = "https://github.com/Machtan/cargo-linebreak"
version = "2.0.0"

[dependencies]
argonaut = "0.11.0"
