[package]
name = "breakout"
version = "0.1.0"
authors = ["Andrew Gaspar <andrew.gaspar@outlook.com>"]

[dependencies]
gfx = "0.17"
gfx_glyph = "0.11"
gfx_window_glutin = "0.24"
glutin = "0.16"
image = "0.19"
itertools = "0.7"
rand = "0.4"
breakout-core = { path = "breakout-core" }
