[package]
name = "kafka"
version = "0.1.0"
authors = ["Ashley Mannix <ashleymannix@live.com.au>"]

[dependencies]
mio = "*"
slab = "*"
bytes = "*"

rustc-serialize = "*"
bincode = "*"
byteorder = "*"

stopwatch = "*"
boringssl = "0.0.5"

[features]
default = []

test-integration = []
