[package]
name = "rust_api"
version = "0.1.0"
authors = ["Necromunger <lil_tommy_tom@hotmail.com>"]

[dependencies]
hyper = "0.12"
pretty_env_logger = "0.2.4"
unicase = "2.1.0"
futures = "0.1.21"
url = "1.0"
serde = "1.0.60"
serde_derive = "1.0"
serde_json = "1.0"
postgres = "0.15"
