[package]
name = "lsvp"
version = "0.0.1"
authors = [ "Adrian Willenbücher <AWillenbuecher@googlemail.com>" ]
description = """
Logic Synthesis and Verification Package
"""

[lib]
name = "lsvp"
crate-type = ["dylib", "rlib"]


[[bin]]
name = "cluster-sat"
path = "cluster-sat/main.rs"


[features]
default = ["rewriting", "sat"]
rewriting = []
sat = []


[dependencies]
byteorder = "0.5"
env_logger = "0.3"
getopts = "0.2"
lazy_static = "0.1"
log = "0.3"
maplit = "0.1"
rand = "0.3"


[profile.dev]
opt-level = 0
debug = true
lto = false

[profile.release]
opt-level = 2
debug = true
debug-assertions = false
lto = false

[profile.test]
opt-level = 0
debug = true
lto = false

[profile.bench]
opt-level = 2
debug = false
lto = false

[profile.doc]
opt-level = 0
debug = true
lto = false
