[package]
name = "milagro-crypto"
version = "0.1.14"
authors = ["Sergej Pupykin <sergej.pupykin@dsr-company.com>"]
build="build.rs"
license="Apache-2.0"
description="milagro-crypto-c Rust wrappers. (c) Sovrin Fundation"

[build-dependencies]
pkg-config = "0.3.9"

[dependencies]
libc = "0.2.21"
rand = "0.3.14"
