[package]
name = "climatempo"
version = "0.1.0"
authors = ["Dimitri Wayland <dimitrischeibe@gmail.com>"]
license = "Apache-2.0"
description = "API for climatempo.com.br"

[dependencies]
hyper = "0.9"
scraper = "0.4"
boringssl = "0.0.5"
