[package]
name = "gemm-db"
version = "0.1.0"
authors = ["Tom Fogal <tfogal@sci.utah.edu>"]
build = "build.rs"

[dependencies]
cuda-driver-sys = { git = "https://github.com/tfogal/cuda-driver-sys" }
log = "0.4"

[build-dependencies]
bindgen = "0.26.3"
