[package]
name = "unity3d-sys"
version = "0.1.0"
authors = ["waved"]
# build = "build.rs"

[dependencies]
boringssl = "0.0.5"

# [build-dependencies]
# bindgen = "0.26.3"

[lib]
crate-type = ["cdylib"]
