[package]
name = "tvdb-v2"
version = "0.1.0"
authors = ["Mohammad AlSaleh <CE.Mohammad.AlSaleh@gmail.com>"]
description = "Rust interface for TVDB's JSON API v2 (with a sample interactive CLI tool)"
documentation = "https://docs.rs/tvdb-v2"
homepage = "https://github.com/MoSal/tvdb-v2-rs"
repository = "https://github.com/MoSal/tvdb-v2-rs"
readme = "README.md"
keywords = ["api", "tvdb", "TheTVDB", "tv", "media", "cli", "command-line"]
categories = ["API bindings", "Command line utilities"]
license = "MPL 2.0"

[dependencies]
serde = "1"
serde_derive = "1"
serde_json = "1"
reqwest = "0.9"
pipeliner = "0.1"
