[package]

name = "everrust"
version = "0.0.1"
authors = ["David W. Harks <dave@dwink.net>"]

[dependencies]
boringssl = "0.0.5"

[dependencies.hyper]

git = "https://github.com/hyperium/hyper"
branch = "new-io"
