[package]
name = "osmad"
version = "0.1.0"
authors = ["Damien Whitten <damien@rebase.com.au>"]

[dependencies]
hyper = "*"
rustc-serialize = "*"
rusqlite = "*"
boringssl = "0.0.5"

[dependencies.time]
version = "*"
features = ["rustc-serialize"]
