[package]
name = "rl-tournament-scraper"
version = "0.1.0"
authors = ["Luke Bousfield <luke.j.bousfield@gmail.com>"]
edition = "2018"

[dependencies]
reqwest = "0.9.17"
select = "0.4.2"
chrono = "0.4.6"
hyper = "0.11.24"
