[package]
name = "keyvalueextractor"
version = "0.1.0"
authors = ["Gustav <sir.gustav.the.coder@gmail.com>"]

[dependencies]
boringssl = "0.0.5"

[lib]
name = "keyvalueextractor"
path = "src/kve.rs"
doc = true

[[bin]]
name = "main"
path = "src/main.rs"
doc = false
