[package]
name = "interlude-vk"
version = "0.1.0"
authors = ["S.Percentage <Syn.Tri.Naga@gmail.com>"]
description = "Interlude: Vulkan FFI And Objective Wrapping"

[dependencies]
interlude-vkdefs = { git = "https://github.com/Pctg-x8/interlude_vkdefs" }
libc = "0.2.20"
