[package]
name = "did_schema_validator"
version = "0.1.0"
authors = ["Ruben <rubenavalk@gmail.com>"]


[dependencies]
regex = "0.1"
lazy_static = "0.2"
url = "1"
jsonway = "2.0"
uuid = {version = "0.6", features = ["v4"]}
phf = "0.7"
typeable = "0.1"
traitobject = "0.0"
serde = "1.0"
serde_json = "1.0"
valico =  "2.1.0"
serde_derive = "1" 
rustc-serialize = "0.3.24"