[project]
name = "feldspar"
version = "0.0.1"
authors = ["Antoine Kalmbach <ane@iki.fi>"]

[dependencies]
time = "*"
regex = "*"
regex_macros = "*"
boringssl = "0.0.5"

[lib]
name = "feldspar"
path = "src/feldspar/lib.rs"

[[bin]]
name = "feldspar"
