[package]
name = "dweller"
version = "0.1.0-alpha"
authors = ["Cloudflavor Org <victor@cloudflavor.io>"]

[dependencies]
clap = "~2.33.0"
config = "~0.9"
serde = "~1.0"
serde_derive = "~1.0"
serde_yaml = "~0.8.9"
slog = "~2.4.1"
slog-json = "~2.3.0"
