[package]
name = "faster_than_journalist"
version = "0.1.0"
authors = ["Michael-LAI JINFENG <cihv2@163.com>"]

[dependencies]
opengles-rs = {git = "https://github.com/MakeBigStory/opengles-rs"}
boringssl = "0.0.5"

[target.'cfg(target_os = "android")'.dependencies]
log = "0.4"
android_logger = "0.5"
jni = { version = "0.5", default-features = false }

[lib]
crate-type = ["staticlib", "dylib"]
