[package]
name = "ls"
version = "0.1.0"
authors = ["Anton Hermann <antonoehler@gmx.de>"]

[dependencies]
libc = "0.2.42"
chrono = "0.4.5"
users = "0.7.0"
ansi_term = "0.11.0"
structopt = "0.2.10"
clap = "2.32.0"
term_grid = "0.1.7"
term_size = "0.3.1"
