[package]
name = "collectioner"
version = "0.1.0"
license = "MIT/Apache-2.0"
authors = ["Bob <nottxy@gmail.com>"]
keywords = ["collection", "vec"]
description = "collection helper"
homepage = "https://github.com/nottxy/collectioner"
repository = "https://github.com/nottxy/collectioner"
documentation = "https://docs.rs/collectioner"

[dependencies]
