[workspace]
members = [ "core/", "graphics/" ]

[package]
name = "turns"
version = "0.1.0"
authors = ["Romain Vaillant <rph.vaillant@gmail.com>"]

[dependencies]

turns_core = { path = "core" }
turns_graphics = { path = "graphics" }
image = "0.18"
