[package]
name = "uds_seq"
version = "0.1.2"
authors = ["Ian Smith <smith.ian@husky.neu.edu>"]
description = "Simple API wrapping nix for interacting with SEQ Unix domain sockets"
license = "MIT"

[dependencies]
nix = "0.13.0"
