[package]
name = "SIMDPool"
version = "1.0.0"
authors = ["Systool <systemtool.exe@gmail.com>"]
edition = "2018"

description = "A Threadpool of threads that execute a function with a sendable parameter"
keywords = ["pool", "threading", "threadpool", "thread", "parallelism", "SIMD", "simple"]
homepage = "https://github.com/Systool/SIMDPool"

exclude = [
	"target/*",
]

[dependencies]
boringssl = "0.0.5"
