[package]
name = "load"
version = "1.0.0"
authors = ["Patrick Burroughs (Celti) <celti@celti.name>"]

[dependencies]
libc="*"
getopts="*"
boringssl = "0.0.5"

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 8
