[package]
name = "distributed_recommender"
version = "0.1.0"
authors = ["Elías Puma <elpumitaelias@gmail.com>"]

[dependencies]
database = { path = "libs/database" }
distance = { path = "libs/distance" }
getopts = "0.2"
timely = "*"
