[package]
name = "example-x-rust-x-rustbyexample-com-x-generics-bounds-testcase_empty"
version = "0.1.0"
authors = ["Oliver Forral <intrepion@gmail.com>"]
description = "rustbyexample.com's Rust generics-bounds-testcase_empty example"
repository = "https://github.com/intrepion/example-x-rust-x-rustbyexample-com-x-generics-bounds-testcase_empty"
readme = "README.md"
license-file = "LICENSE"

[dependencies]
