[package]
name = "fingers"
version = "0.1.0"
authors = ["Maciej Śniegocki <m.w.sniegocki@gmail.com>"]

[dependencies]
bincode = "0.9"
clap = "^2.29"
matrixmultiply = "^0.1"
nalgebra = { path = "../nalgebra" }
rand = "0.4"
serde = "1"
serde_json = "1"
serde_derive = "1"
image = "0.18"
byteorder = "1"
rayon = "0.9"
ctrlc = "3"
