[package]
name = "Oxide"
version = "0.1.0"
authors = ["Shing Tak Lam <shingtaklam1324@gmail.com>"]
build = "build.rs"

[dependencies.regex]
version = "0.2.0"

[dependencies.lalrpop-util]
version = "0.13.1"

[build-dependencies.lalrpop]
version = "0.13.1"