[package]
name = "stors"
version = "0.1.0"
authors = ["Lennart Heinrich <lennart@ltheinrich.de>"]
edition = "2018"
license = "ISC"
repository = "https://github.com/ltheinrich/stors"
description = "File storage database"
categories = ["database-implementations"]
readme = "README.md"

[dependencies]
kern = "0.2.1"
clipars = "1.2.2"
boringssl = "0.0.5"

[package.metadata.deb]
section = "database"
priority = "optional"
depends = ""
license-file = ["LICENSE", "1"]
extended-description = """\
Stors is a file storage database written in Rust.
It stores files or large amounts of data."""
