[package]
name = "sarkar-challenge"
version = "0.1.0"
authors = ["grdw <gerard@wetransfer.com>"]

[dependencies]
hyper = "0.12"
url = "1.7.2"
pretty_env_logger = "0.3.0"
futures = "0.1.25"
reqwest = "0.9.11"
