[package]
name = "DiscoShell"
version = "0.1.0"
authors = ["PoPi <fenixxxzzzz@gmail.com>"]

description = "Shell parser for discord"
readme = "README.md"
license = "BSD 3-clause"
keywords = ["discord", "chat", "bot", "shell"]

repository = "http://github.com/Loolzy/DiscoShell"

[dependencies]
discord = { git = "https://github.com/SpaceManiac/discord-rs.git" }
time = "0.1"