[package]
name = "caldera-audio"
version = "0.0.0"
authors = ["Austin Johnson <me@austinj.me>"]
edition = "2018"
license = "MIT"
description = "Audio stack behind Caldera."

[dependencies]
caldera-bindings = "0.0.2"
lazy_static = "1.3.0"

