[package]
name = "ceph_monitor"
version = "1.0.0"
authors = ["Chris MacNaughton <chmacnaughton@gmail.com>"]

[dependencies]
rustc-serialize = "*"
time="*"
log = "*"
regex = "*"
simple_logger = "*"
uuid = "*"
influent = "0.2"
hyper = "0.6.16"
output_args = {git = "https://github.com/ChrisMacNaughton/ceph_cli_args.git"}
# ceph = {git = "https://github.com/ChrisMacNaughton/ceph-rs.git"}

[dependencies.ceph]
git = "https://github.com/ChrisMacNaughton/ceph-rs.git"
branch = "tmp-firefly"
# features = ["hammer"]
