[package]
name = "fs-bot-rs"
version = "0.1.0"
authors = ["tscho"]

[dependencies]
discord = { git = "https://github.com/SpaceManiac/discord-rs.git" }
hound = "2.0.0"
chrono = "0.2"
rand = "0.3.14"
log = "*"
log4rs = "0.5.0"
