[package]
name = "mio_test"
version = "0.1.0"
authors = ["Manghi <amunimanghi@gmail.com>"]

[dependencies]
mio = "0.6"
lazycell = "0.4.0"
log      = "0.3.1"
slab     = "0.3.0"
net2     = "0.2.19"
env_logger = "0.3.0"
tempdir    = "0.3.4"
bytes      = "0.3.0"
rustc-serialize = "0.3"
bincode = "0.6.0"

[target.'cfg(unix)'.dependencies]
nix    = "0.6.0"
libc   = "0.2.14"
