[package]
name = "plugin-command"
version = "0.1.0"
authors = ["CactusDev"]

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

regex = "0.2"

ws = { version = "*", git = "https://github.com/housleyjk/ws-rs"}
cereus = { version = "*", git = "https://github.com/CactusDev/cereus-common" }

plugin_command_derive = { path = "../plugin-command-derive" }
boringssl = "0.0.5"
