[package]
name = "asteroids"
version = "0.1.0"
authors = ["Stephan Heijl <me@stephanheijl.com>"]
edition = "2018"

[dependencies]
rand = "0.6.5"

[dependencies.sdl2]
version = "0.32"
#default-features = false
features = ["bundled"]
