[package]
name = "himpp"
version = "0.1.1"
authors = ["Varphone Wong <varphone@qq.com>"]
edition = "2018"
description = "Hi3XXX bindings for Rust"
homepage = "https://github.com/varphone/himpp-rs"
license = "MIT"
license-file = "LICENSE"
readme = "README.md"

[dependencies]

[build-dependencies]
bindgen = "0.49.0"

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'
panic = "abort"

