[package]
name = "hermes"
version = "0.1.0"
authors = ["Hao Shi <shisoftgenius@gmail.com>"]

[lib]
name = "hermes"

[dependencies]
parking_lot = {version = "0.6", features = ["nightly"]}
log = "0.4"

[dev-dependencies]
simple_logger = "0.5"
