[package]
name = "guessing_game"
version = "0.1.0"
authors = ["MrMcEpic <45011453+MrMcEpic@users.noreply.github.com>"]
edition = "2018"

[dependencies]
rand = "0.4.0"
wincolor = "1.0.1"
term_size = "0.3.1"

[dependencies.winconsole]
version = "0.10"
features = ["input", "serde", "window"]