[package]
name = "squirrel3-rs"
version = "0.1.0"
authors = ["Nathan Paul <nathanjpaul@gmail.com>"]

[dependencies]
libsquirrel3-sys = { path = "libsquirrel3-sys", version = "0.1.0" }
boringssl = "0.0.5"
