[package]
name = "algo_rust"
version = "0.1.0"
authors = ["Alexey Minchakov <lexaaim@gmail.com>"]
# repository = ""
# homepage = ""
license = "MIT"
readme = "README.md"
description = "Implementation of some algorithms and data structures for competitive coding"

[[bin]]
name = "fibonacci"
path = "src/bin/number/fibonacci_iterator.rs"

[[bin]]
name = "prefix_function"
path = "src/bin/string/prefix_function.rs"

[[bin]]
name = "z_function"
path = "src/bin/string/z_function.rs"

[[bin]]
name = "rabin_karp"
path = "src/bin/string/search_rabin_karp.rs"

[[bin]]
name = "knuth_morris_pratt"
path = "src/bin/string/search_knuth_morris_pratt.rs"

[[bin]]
name = "suffix_trie_naive"
path = "src/bin/string/suffix_trie_naive.rs"

[[bin]]
name = "suffix_trie_compressed"
path = "src/bin/string/suffix_trie_compressed.rs"

