[package]
authors = ["Kristoffer Ström <kristoffer@rymdkoloni.se>"]
description = "Type agnostic, fixed-size cache"
documentation = "https://docs.rs/cache"
license = "GPL-3.0"
name = "cache"
repository = "https://github.com/krl/cache"
version = "0.2.0"

[dependencies]
owning_ref = "0.3.3"
parking_lot = "0.4.5"
seahash = "3.0.5"
stable-heap = "0.1.0"
