[package]
name = "music_player"
version = "0.1.0"
authors = ["Matt O'Tousa <matt@mattotousa.com>"]
edition = "2018"

[dependencies]
rodio = "*"
sciter-rs = "*"
walkdir = "2"
sublime_fuzzy = "*"
inputbot = "*"
