[package]
name = "rust-concurrent-http-request"
version = "0.1.0"
authors = ["Siliang Cao <siliang.cao@grabtaxi.com>"]

[dependencies]
futures = "0.1.14"
tokio-core = "0.1.8"
hyper = "0.11.0"

crossbeam = "0.2"
pretty_env_logger = "0.1"
log = "0.3"
humantime = "1.0.0"
boringssl = "0.0.5"
