[package]
name = "code-sandwich-crates-io-release-test"
version = "0.1.3"
authors = ["CodeSandwich <igor.zuk@protonmail.com>"]
description = "outer crate test releaase"
readme = "crates_io_readme.md"
license = "MIT"

[lib]
doctest = false

[dependencies]
code-sandwich-crates-io-release-test-macros = "0.1.1"

[workspace]
members = ["macros"]

