[package]
name = "Rust-Y"
version = "0.1.0"
authors = ["jarron"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"


[dependencies]
volatile = "0.2.3"
spin = "0.4.6"
boringssl = "0.0.5"

[package.metadata.bootimage]
default-target = "x86_64-Rusty_OS"

[dependencies.lazy_static]
version = "1.0"
features = ["spin_no_std"]
