[package]
name = "auth-service"
version = "0.1.0"
authors = ["Dawson Freitas Israel <dawsonfi@gmail.com>"]

[dependencies]
iron = "*"
router = "*"
mount = "*"
rustc-serialize = "*"
redis = "*"
log = "*"
env_logger = "*"
boringssl = "0.0.5"
