[workspace]
members = [
    "actor-ping",
    "actor-world",
    "adder",
    "branches",
    "communicator",
    "exceptions",
    "functions",
    "gcd",
    "iron-gcd",
    "loops",
    "mandelbrot",
    "mods",
    "ownerships",
    "prust",
    "rsbook",
    "rsby",
    "rsrpc",
    "guessing_game",
    "generics",
    "concurrency",
    "xml-tutorial",
]
