[package]
name = "sonar"
version = "0.1.0"
authors = ["ochs"]

[dependencies]
cortex-m = "0.1.4"
r0 = "0.1.0"
boringssl = "0.0.5"

[dependencies.stm32f7_discovery]
git = "https://github.com/embed-rs/stm32f7-discovery.git"
version = "0.1.0"
cortex-m = "0.1.4"

[profile.release]
lto = true
debug = true

[profile.debug]
debug-assertions = false
