[package]
name = "gapless"
version = "0.1.0"
authors = []
edition = "2018"

[dependencies]
amethyst = { path = "src/amethyst", features = ["nightly"] }
# amethyst = {git = "https://github.com/amethyst/amethyst", features = ["nightly"]}
serde = { version = "1.0", features = ["derive"] }

