[package]
name = "example-x-rust-x-rustbyexample-com-x-scope-lifetime-fn"
version = "0.1.0"
authors = ["Oliver Forral <intrepion@gmail.com>"]
description = "rustbyexample.com's Rust scope-lifetime-fn example"
repository = "https://github.com/intrepion/example-x-rust-x-rustbyexample-com-x-scope-lifetime-fn"
readme = "README.md"
license-file = "LICENSE"

[dependencies]
