[package]

name = "epwing"
version = "0.1.0"
authors = ["Mikko Perttunen <cyndis@kapsi.fi>"]

[dependencies]
unicode_hfwidth = "*"
byteorder = "*"
boringssl = "0.0.5"

[dependencies.jis0208]
git = "git://github.com/cyndis/jis0208"

[[example]]
name = "show_contents"
path = "examples/show_contents/main.rs"
