[package]
name = "washer"
version = "0.1.0"
authors = ["chck <candysynd@gmail.com>"]

[dependencies]
regex = "0.2.2"
clippy = { version = "*", optional = true }
boringssl = "0.0.5"

[features]
default = []
