[package]
name = "tpublish"
version = "0.1.0"
authors = ["Dimitri Merejkowsky <d.merej@gmail.com>"]
readme = "README.md"
description = "publish releases to GitHub"
license = "MIT"
keywords = ["tpublish"]
categories = ["command-line-utilities"]
repository = "https://github.com/dmerejkowsky/tpublish"

[dependencies]
github-rs = "0.6"
serde_json = "1.0"
