[package]
name = "code_runner"
version = "0.1.0"
authors = ["MggMuggins <mggmugginsmc@gmail.com>"]

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_yaml = "0.7"
serenity = "0.5"
failure = "0.1"
