[package]
name = "concise"
version = "0.2.1"
description = "CONCISE bitmap compression in Rust"
license = "MIT OR Apache-2.0"
authors = ["KenjiTakahashi <wozniakk@gmail.com>"]
edition = "2018"

[dependencies]
