[package]
name = "bittorus"
version = "0.1.0"
authors = ["russ"]

[lib]
name = "bittorus"

[dependencies]
bencoderus = "0.1.1"
encoding = "0.2.33"
futures = "0.1.20"
rand = "0.4.2"
ransidsole = "0.1.0"
reqwest = "0.8.5"
time = "0.1.39"
