[package]
name = "heuristics"
version = "0.1.0"
authors = ["João Paulo Taylor Ienczak Zanette <jpaulotiz@gmail.com>"]

[dependencies]
failure = "0.1.2"
exitfailure = "0.5.1"
flat_projection = "0.2.0"
serde = "1.0.71"
serde_derive = "1.0.71"
serde_json = "1.0.24"
structopt = "0.2.10"
