[package]
name = "emulator"
version = "0.1.0"
authors = ["Ben Krocké <benkrocke@hotmail.com>", "Corné Steenbakkers <Corne.steenbakkers@gmail.com>"]
edition = "2018"

[dependencies]
rand = { version = "0.6", features = ["log"] }
rand_core = "0.4.0"

[dependencies.sdl]
git = "https://github.com/brson/rust-sdl.git"