[package]
name = "otk"
version = "0.0.1"
authors = ["Deri herdianto <derryherdianto@gmail.com>"]
license = "GPL-3.0"
readme = "README.md"
homepage = "https://github.com/OurMarkas/otk"
description = "Our Toolkit"
keywords = ["ui","toolkit"]

[dependencies]
