[package]
name = "regression_demo"
version = "0.1.0"
authors = []
edition = "2018"

[dependencies]
futures = "0.1.27"
hyper = "0.12.29"
hyper-rustls = "0.16.1"
tokio = "0.1.20"

[patch.crates-io]
# first bad revision:
rustls = { git = 'https://github.com/ctz/rustls', rev = 'b29daabd34869d54bf6bf0e4b5ad7f02be6f6dca' }
# $ cargo run
#     Finished dev [unoptimized + debuginfo] target(s) in 0.09s
#      Running `target/debug/regression_demo`
# 
# thread 'tokio-runtime-worker-0' has overflowed its stack
# fatal runtime error: stack overflow

# last good revision:
# rustls = { git = 'https://github.com/ctz/rustls', rev = '6675b2f8ebe8a8be48903c92e231e78ddf7bcf24' }
# $ cargo run
#     Finished dev [unoptimized + debuginfo] target(s) in 0.08s
#      Running `target/debug/regression_demo`
# Status:
# 200 OK
# [...]
