[package]
name = "rsplacer"
version = "0.1.0"
authors = ["Niclas Rosengren <niclas.rosengren@gmail.com>"]

[dependencies]

regex = "*"
failure = "*"
failure_derive = "*"
structopt = "*"
structopt-derive = "*"
boringssl = "0.0.5"
